<!DOCTYPE html>

<html lang="en" data-livestyle-extension="available" class="">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Vega</title>

  <meta name="description" content="Vega is a first of it’s kind digital marketing tracking platform that redefines security, decentralized storage and ease of use.">

  <link rel="stylesheet" type="text/css" href="{{constants.ACCESSURL}}dashboard_files/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{constants.ACCESSURL}}dashboard_files/animate.min.css">
  <link rel="stylesheet" type="text/css" href="{{constants.ACCESSURL}}dashboard_files/animate.css">

  <link rel="stylesheet" type="text/css" href="{{constants.ACCESSURL}}dashboard_files/bootstrap-slider.css">

  <link href="{{constants.ACCESSURL}}dashboard_files/all.css" rel="stylesheet">
  <link href="{{constants.ACCESSURL}}dashboard_files/css.css" rel="stylesheet">
  <link href="{{constants.ACCESSURL}}dashboard_files/css_002.css" rel="stylesheet">

  <link rel="icon" type="image/png" sizes="192x192" href="{{constants.ACCESSURL}}dashboard_files/logo.png">

  <link rel="stylesheet" type="text/css" href="{{constants.ACCESSURL}}dashboard_files/style.css">
  <link rel="stylesheet" type="text/css" href="{{constants.ACCESSURL}}dashboard_files/register.css">

  <link href="{{constants.ACCESSURL}}dashboard_files/css_003.css" rel="stylesheet">

  <link href="{{constants.ACCESSURL}}css/jquery.toast.css" rel="stylesheet" type="text/css">


  <link rel="stylesheet" type="text/css" href="{{constants.ACCESSURL}}fonts/fontawesome/font-awesome.css" />
   

  <!-- jQuery library -->
  <script type="text/javascript" async="" src="{{constants.ACCESSURL}}dashboard_files/recaptcha__en.js"></script>
   

  <!-- Latest compiled JavaScript -->
  <script src="{{constants.ACCESSURL}}dashboard_files/jquery-2.js"></script>
  <script src="{{constants.ACCESSURL}}dashboard_files/reg-jquery.js"></script>
  <script src="{{constants.ACCESSURL}}dashboard_files/bootstrap.js"></script>

  <link rel="stylesheet" href="{{constants.ACCESSURL}}dashboard_files/jquery.bxslider.css">
  <script src="{{constants.ACCESSURL}}dashboard_files/jquery.bxslider.min.js"></script>

  <script src="{{constants.ACCESSURL}}dashboard_files/api.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="{{constants.ACCESSURL}}dashboard_files/bootstrap.min(1).css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{constants.ACCESSURL}}dashboard_files/bootstrap.min(1).css">
  <link href="{{constants.ACCESSURL}}dashboard_files/icon.css" rel="stylesheet">
  <link href="{{constants.ACCESSURL}}css/jquery.toast.css" rel="stylesheet" type="text/css">

  <script src="{{constants.ACCESSURL}}dashboard_files/js.js"></script>

  <script src="{{constants.ACCESSURL}}dashboard_files/easytimer.min.js"></script>

  <script type="text/javascript" charset="UTF-8" src="{{constants.ACCESSURL}}dashboard_files/common.js"></script>
  <script type="text/javascript" charset="UTF-8" src="{{constants.ACCESSURL}}dashboard_files/util.js"></script>
  <script type="text/javascript" charset="UTF-8" src="{{constants.ACCESSURL}}dashboard_files/stats.js"></script>
  

  
    <script src="{{constants.ACCESSURL}}dashboard_files/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>

</head>

<body data-gr-c-s-loaded="true" cz-shortcut-listen="true">


    {{{body}}}
    {{> main-footer}}